<h1>List of Parking Requests</h1>

<table>
  <thead>
    <tr>
      <th colspan="6">Request No.</th>
      <th colspan="6">Status</th>
    </tr>
  </thead>

  <tbody>
    <% @parking_requests.each do |parking_request| %>
      <tr>
        <th colspan="6"><%= parking_request.req_no %></th>
        <th colspan="6"><%= parking_request.app_status %></th>
        <td><%= link_to 'Show', parking_request %></td>
        <td><%#= link_to 'Edit', edit_parking_request_path(parking_request) %></td>
        <td><%#= link_to 'Destroy', parking_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', menu_staff_url %>
