<h1>List of maintenance_requests</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @maintenance_requests.each do |maintenance_request| %>
      <tr>
        <td><%= link_to 'View', maintenance_request %></td>
        <td><%= link_to 'Edit', edit_maintenance_request_path(maintenance_request) %></td>
        <td><%-#= link_to 'Destroy', maintenance_request, method: :delete, data: { confirm: 'Are you sure?' } -%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', menu_staff_url %>
