<h1>Welcome#index</h1>

<html>
<p> Enter Username and Password </p>
<FORM action="file:///android_asset/www/Browse.html" method="post">

  <%= render_navigation %>
  <P>
    <LABEL for="firstname">Username </LABEL>
    <INPUT type="text" id="Username"><BR>
    <LABEL for="lastname">Password </LABEL>
    <INPUT type="text" id="Password"><BR>
    <INPUT type="submit" value="Send"> <INPUT type="reset">
  </P>
</FORM>
</html>
