<h1>Parking Lot Information</h1>

<table>
  <thead>
    <tr>
      <th colspan="3">Lot No.</th>
      <th colspan="6">Nearby Housing</th>
    </tr>
  </thead>

  <tbody>
    <% @parking_lots.each do |f| %>
      <tr>
        <th colspan="3"><%= f.lot_no %></th>
        <th colspan="3"><%= f.nearby_housing %></th>
      </tr>
    <% end %>

  </tbody>
</table>

<br>

<%= link_to 'back', menu_student_url %>
