<h1>List of Termination Requests</h1>

<table>
  <thead>
    <tr>
      <th colspan="6">Request No.</th>
      <th colspan="6">Status</th>
    </tr>
  </thead>

  <tbody>
    <% @termination_requests.each do |termination_request| %>
      <tr>
        <th colspan="6"><%= termination_request.t_req_no %></th>
        <th colspan="6"><%= termination_request.app_status %></th>
        <td><%= link_to 'Show', termination_request %></td>
        <td><%#= link_to 'Edit', edit_termination_request_path(termination_request) %></td>
        <td><%#= link_to 'Destroy', termination_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', menu_staff_url %>
