<h1>List of Housing Requests</h1>

<table>
  <thead>
    <tr>
      <th colspan="6">Request No.</th>
      <th colspan="6">Status</th>
    </tr>
  </thead>

  <tbody>
    <% @housing_requests.each do |housing_request| %>
      <tr>
        <th colspan="6"><%= housing_request.req_no %></th>
        <th colspan="6"><%= housing_request.app_status %></th>
        <td><%= link_to 'Show', housing_request %></td>
        <td><%#= link_to 'Edit', edit_housing_request_path(housing_request) %></td>
        <td><%#= link_to 'Destroy', housing_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', menu_staff_url %>
